<%= content_tag :h2, title if title.present? %>

<% list.group_by{|s| s.start.to_date}.sort.each do |start_date, parent_items_for_date| %>
	<h3><%= date_and_times(start_date) %></h3>
	<%= render :partial => 'schedule_item', :collection => parent_items_for_date.sort_by{ |item| [item.start, item.location.venue.name] } %>
<% end %>
