<div id ="happening_now">
  <%= render_list(@in_progress, "inprogress", "Happening Now", 'shared/schedule_item') %>
</div>

<div id="paginated_upcoming">
  <div class="sausage_page">
    <%= render_list(@upcoming, "upcoming", nil, 'shared/schedule_item') %>
  </div>
</div>

<div id="paginate_loading" style="display: none"><img src="<%= asset_path 'loading-small.gif' %>"></div>


<%= paginate @dates %>


