<p id="notice"><%= notice %></p>

<div class="boxIndex">
<h2>Events</h2>
	<% @events.group_by{ |e| e.name.chars.first }.each do |letter, events| %>
		<h3><%= letter %></h3>
		<% events.each do |event| %>
		<%= link_to event.name, event_path(event) %>
		<% end %>
	<% end %>
</div>

<%= link_to 'New Event', new_event_path %>
