<div class="dynamic_fields">
	<%= f.collection_select(:weblocation_id, @weblocations, :id, :name)%><%= f.text_field :url %><%= f.hidden_field :_destroy %><%= link_to_function "remove", "remove_fields(this)" %>
</div>  
