<p id="notice"><%= notice %></p>

<div class="boxIndex">
<h2>Acts</h2>
	<% @acts.group_by{ |a| a.name.chars.first }.each do |letter, acts| %>
		<h3><%= letter %></h3>
		<% acts.each do |act| %>
			<%= link_to act.name, act_path(act) %>
		<% end %>
	<% end %>
</div>

<%= link_to 'New Act', new_act_path %>
